<div class="dice-tooltip blades-die-tooltip">
  {{#if attribute_label}}<div class="chat-label label-stripe-chat">{{localize attribute_label}}</div>{{/if}}

  {{#if (eq roll_status "failure")}}
  <div class="die {{roll_status}}">{{localize "SOD.RollFailure"}}</div>
  <div class="description">
    <p>{{{localize "SOD.RollViceFailure" clear_stress=clear_stress}}}
    <ul>
      <li>{{{localize "SOD.RollViceFailureAttactTrouble"}}}</li>
      <li>{{{localize "SOD.RollViceFailureBrag"}}}</li>
      <li>{{{localize "SOD.RollViceFailureLost"}}}</li>
      <li>{{{localize "SOD.RollViceFailureTapped"}}}</li>
    </ul>
    </p>
  </div>
  {{else}}
  <div class="die success">{{localize "SOD.RollSuccess"}}</div>
  <div class="description">
    <p>{{{localize "SOD.RollVice" clear_stress=clear_stress}}}</p>
  </div>
  {{/if}}
  {{#if note}}
  <em>{{note}}</em>
  {{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die d6">{{{this.result}}}</li>
    {{else}}
    <li class="roll die d6">{{{this.roll}}}</li>
    {{/if}}
    {{/each}}
  </ol>
</div>
